.login-container {
    display: flex;
    flex-direction: column;
    box-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
.login-container > * {
    width: 30%;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-container > * {
    width: 100%;
}
