<section class="jumbotron text-center">
  <div class="album py-5 bg-light">
    <h1 class="jumbotron-heading">
      Bienvenido a Publishes & Shell!
    </h1>
    <br>
    <p class="lead text-muted">
      La compra o venta sus productos, desde un sitio amigable.
    </p>
    <br><br>
    <p>
      <img width="25%" src="assets/logo.jpeg">
    </p>
    <br><br>
  </div>
  <div class="container">
    <br><br>
    <h2 class="jumbotron-heading">
      ¿Qué es Publishes & Shell?
    </h2>
    <p>
      <video width=80%  height=50% controls poster="assets/vistaprevia.png" src="assets/publishshell.mp4">
        Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        <br> La versión descargable está disponible 
        <a href="nohayvideo.com">
          Aqui
        </a>.
      </video>
    </p>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">MISIÓN</text>
            </svg>
            <div class="card-body">
              <p class="card-text" align="justify">Aprovechar las tecnologías de informacion que internet pone a nuestra disposición en beneficio de nuestros clientes. Ofrecer, a través de internet, beneficios importantes al dar opciones para comprar y vender productos, de forma sencilla y eficiente. </p>
              <div class="d-flex justify-content-between align-items-center">
                <!--
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                -->
                <small class="text-muted">Agosto 2019</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">VISIÓN</text>
            </svg>
            <div class="card-body">
              <p class="card-text" align="justify">Apostamos firmemente a la adopción de tecnologías modernas de información, que nos permiten proveer una herramienta que facilita la comercialización de productos en línea entre nuestros usuarios.</p>
              <div class="d-flex justify-content-between align-items-center">
                <!--
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                -->
                <small class="text-muted">Agosto 2019</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em" align="center">ACERCA DE</text>
            </svg>
            <div class="card-body">
              <p class="card-text" align="justify">Contactenos: 30 calle 6-38 zona 11 <br> Telefono:24340285</p>
              <div class="d-flex justify-content-between align-items-center">
                <!--
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                -->
                <small class="text-muted">Agosto 2019</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

