<section class="login" class="mb-5">
  <br>
  <div aria-live="polite" aria-atomic="true" *ngIf="verificado"
    style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
      <div class="toast-header">
        <img src="favicon.ico" class="rounded mr-2" alt="favicon">
        <strong class="mr-auto">Error</strong>
        <small>now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
          aria-label="Close" autohide="false">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="toast-body"> Debe verificar su correo. </div>
    </div>
  </div>
  <h1 class="h3 mb-3 font-weight-normal text-center">INICIO DE SESIÓN</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="iniciarSesion(formLogin)">
                <div class="alert alert-danger" role="alert" *ngIf="error">
                  Correo electrónico o contraseña no válida.
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (input)="user.CORREO = $event.target.value" type="email"
                      id="correo" name="correo" [formControl]="email"
                      placeholder="Correo electrónico" required>
                    <mat-error *ngIf="email.invalid">
                      {{getErrorEmailMessage()}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <br>
                <div class="form-group">
                  <mat-form-field>
                    <input matInput (input)="user.CLAVE = $event.target.value" id="clave"
                    name="clave" type="password" [formControl]="password" 
                    pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!-/:-@[-`{-~]).{8,}"
                    placeholder="Contraseña" required>
                    <mat-error *ngIf="password.invalid">
                      {{getErrorPasswordMessage()}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <p align="center">
                  <button type="submit" class="btn btn-lg btn-primary btn-block">
                    Entrar
                  </button>
                </p>
                <div class="form-group">
                  <a routerLink="/restore" class="form-control login-user">
                    <p>¿Olvidaste tu contraseña?</p>
                  </a>
                </div>
                <div class="form-group">
                  <a routerLink="/singup" class="form-control login-user">
                    <p>No tienes cuenta?</p>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>