<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarsExample08" aria-controls="navbarsExample08"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/" (click)="goHome()" *ngIf="home_selected"
          class="navbar-brand d-flex align-items-center">
          <img src="assets/home.png" width="20" height="20"><strong>&nbsp;Inicio</strong>
        </a>
        <a routerLink="/" (click)="goHome()" *ngIf="!home_selected" class="nav-link">
          <img src="assets/home.png" width="15" height="15"> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" (click)="goProducts()" class="navbar-brand d-flex"
          *ngIf="sesionActiva && products_selected"><strong>&nbsp;&nbsp;Productos</strong>
        </a>
        <a routerLink="/home" (click)="goProducts()" class="nav-link"
          *ngIf="sesionActiva && !products_selected">Productos
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="cuenta_selected" id="dropdown08"
          data-toggle="dropdown"><strong>Cuenta</strong>
        </a>
        <div class="dropdown-menu" *ngIf="cuenta_selected" aria-labelledby="dropdown08">
          <a routerLink="login" (click)="goAccount()" class="dropdown-item"
            *ngIf="!sesionActiva"> Iniciar sesión
          </a>
          <a routerLink="singup" (click)="goAccount()" class="dropdown-item"
            *ngIf="!sesionActiva"> Crear cuenta
          </a>
          <a routerLink="/profile"  (click)="goAccount()" class="dropdown-item"
            *ngIf="sesionActiva"> Perfil
          </a>
          <a routerLink="/" (click)="cerrarSesion()" class="dropdown-item"
            *ngIf="sesionActiva"> Cerrar sesión
          </a>
        </div>
        <a class="nav-link dropdown-toggle" *ngIf="!cuenta_selected" id="dropdown09"
          data-toggle="dropdown">Cuenta
        </a>
        <div class="dropdown-menu" *ngIf="!cuenta_selected" aria-labelledby="dropdown09">
          <a routerLink="login" (click)="goAccount()" class="dropdown-item"
            *ngIf="!sesionActiva"> Iniciar sesión
          </a>
          <a routerLink="singup" (click)="goAccount()" class="dropdown-item"
            *ngIf="!sesionActiva"> Crear cuenta
          </a>
          <a routerLink="/profile"  (click)="goAccount()" class="dropdown-item"
            *ngIf="sesionActiva"> Perfil
          </a>
          <a routerLink="/" (click)="cerrarSesion()" class="dropdown-item"
            *ngIf="sesionActiva"> Cerrar sesión
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>