<div class="login-container">
  <div class="form-container">
    <form action="">
      <mat-form-field>
        <input matInput placeholder="Nombre" name="name" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Apellidos" name="lastname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" name="email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Contraseña" name="passw" [formControl]="password" type="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!-/:-@[-`{-~]).{8,}" required>
        <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Teléfono" name="telephone" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Fotografía" name="photo" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Género" name="genre" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Fecha de nacimiento" name="borndate" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Dirección" name="direction" required>
      </mat-form-field>
      <br>

      <input type="submit" value="Crear cuenta" style="width: 50%;">
      <br>
    </form>
  </div>
</div>