<section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let product of products">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{products.IMAGEN}}" 
                  alt="{{products.TITULO}}">
              </p>
              <h4 routerLink="/product/{{products.ID}}" class="card-title">
                {{products.TITULO}}
              </h4>
              <p class="card-text">
                {{products.DESCRIPCION | truncateText:20}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  Q {{products.PRECIO}}
                </p>
                <p class="badge badge-info">
                  {{products.PUBLICACION}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>