<div style="text-align:center">
  <h1> Bienvenido a Publishes & Shell! </h1>
  <h2> Haz entrado a la mejor pagina virtual para vender tus productos! </h2>
  <video width=80%  height=50% controls poster="../../vistaprevia.png" src="../../publishshell.mp4">
    Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
    <br> La versión descargable está disponible 
    <a href="nohayvideo.com">
      Aqui
    </a>.
  </video>
  <br>
</div> 
<div class="grid grid-pad">
  <div class="col-1-3">
    <div class="module hero">
      <h4> MISIÓN 
        <br> La misión de nuestra empresa es la de aprovechar las tecnologias de informacion que internet pone a nuestro servicio en beneficio de nuestros clientes. Estamos ofreciendo atraves de internet beneficios importantes a nuestros clientes al ofrecer opciones para comprar productos mas economicas, mas sencillas y mas eficientes. Nuestra promesa de beneficios la fundamentamos, a través de los siguientes puntos: Ofreciendo un servicio de excelente calidad, fundamentado en la satisfaccion total de nuestros clientes y servicio personalizado, apoyando al cliente en todas sus necesidades, desde el momento que pone el pedido, hasta el momento en que recibe el producto y lo prueba, e inclusive hasta el momento en que en caso remoto llegare a tener un problema posterior. Nuestra responsabilidad no termina cuando nuestro cliente recibe su producto.
      </h4>
    </div>
  </div>
  <div class="col-1-3">
    <div class="module hero">
      <h4> VISIÓN 
        <br> Nuestra empresa apuesta firmemente a la adopción e implementacion de las tecnologias modernas de informacion, que nos permiten avanzar de forma importante en la forma en la que vendemos productos en el mundo. Nosotros estamos convencidos que atraves de internet, podemos vender productos a precios mas bajos, de forma mas practica y sencilla, el cliente tiene acceso no solo a los precios de nuestros productos, sino a revisar la gran variedad de opciones que tiene a su disposicion, a comparar un producto con otro y en general a comprar de una forma mas adecuada, optima, pensada y planeada.
      </h4>
    </div>
  </div>
  <div class="col-1-3">
    <div class="module hero">
      <h4> ACERCA DE
        <br>Contactenos: 30 calle 6-38 zona 11 
        <br> Telefono:24340285 
      </h4>
    </div>
  </div>
</div>
<!--
<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
-->